<h1>London 2012 Sweepstake</h1>
<h2>Country Leaderboard</h2>
<%= link_to 'Switch to People leaderboards', leaderboards_people_url %>
<table>
  <thead>
    <tr>
      <th>Medal Rank</th>
      <th>Name</th>
      <th>Gold</th>
      <th>Silver</th>
      <th>Bronze</th>
      <th>Points</th>
      <th>Factor</th>
      <th><strong>Total Points</strong></th>
    <tr>
  </thead>
  <tbody>
  <% @countries.each do |country| %>
    <tr>
      <td><%= country.rank %></td>
      <td><%= country.name %></td>
      <td><%= country.gold %></td>
      <td><%= country.silver %></td>
      <td><%= country.bronze %></td>
      <td><%= country.points.to_s %></td>
      <td><%= country.factor.to_s %></td>
      <td><strong><%= country.total_points.to_s %></strong></td>
    </tr>
  <% end %>
  </tbody>
</table>