<h1>London 2012 Sweepstake</h1>
<h2>Country Leaderboard</h2>
<p>
  <%= link_to 'Switch to People leaderboards', leaderboards_people_url, :class => "btn btn-info btn-large" %>
</p>
<p><strong>Points</strong> = <em>(Gold * 10) + (Silver * 5) + (Bronze * 3)</em></p>
<p><strong>Total Points</strong> = <em>Points * Factor</em></p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sortable 'rank', 'Medal Rank' %></th>
      <th><%= sortable 'name' %></th>
      <th><%= sortable "gold" %></th>
      <th><%= sortable 'silver' %></th>
      <th><%= sortable 'bronze' %></th>
      <th><%= sortable 'points' %></th>
      <th><%= sortable 'factor' %></th>
      <th><strong><%= sortable 'total_points' %></strong></th>
    <tr>
  </thead>
  <tbody>
  <% @countries.each do |country| %>
    <tr>
      <td><%= country.rank %></td>
      <td><%= country.name %></td>
      <td><%= country.gold %></td>
      <td><%= country.silver %></td>
      <td><%= country.bronze %></td>
      <td><a href="#" rel="tooltip" title="<%= country.points.to_s %>"><%= country.points.truncate(3).to_s %></a></td>
      <td><a href="#" rel="tooltip" title="<%= country.factor.to_s %>"><%= country.factor.truncate(3).to_s %></a></td>
      <td><a href="#" rel="tooltip" title="<%= country.total_points.to_s %>"><strong><%= country.total_points.truncate(3).to_s %></strong></a></td>
    </tr>
  <% end %>
  </tbody>
</table>